@font-face {
  font-family: "roboto-regular";
  src: url("../assets/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "roboto-light";
  src: url("../assets/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: "nunito-regular";
  src: url("../assets/Nunito/Nunito-VariableFont_wght.ttf");
}

.password-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

input {
  width: 40%;
  border-radius: 5px;
  font-family: "nunito-regular";
}
label {
  font-family: "nunito-regular";
}
button {
  font-family: "nunito-regular";
}
.passwordHeading {
  color: black;
  font-family: "nunito-regular";
  font-size: 30px;
}
.image {
  width: 50%;
}

